body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1940px;
  margin: auto;
}
.header__img {
  padding: 0 2.5rem;
  height: 2.5rem;
}
.header__nav {
  display:flex;
  align-items: center;
  margin-left:auto;
}
.header__nav__link {
  padding: 2.5rem;
  font-weight: 500;
  text-align: center;
  transition-duration: 0.1s;
  border-top: 3px transparent solid;
}
.header__nav__link[data-active=true] {
  color: #0065FC;
}
.header__nav__link:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}
.header__signup {
  align-items: center;
  text-align:center;
  padding: 2.5rem;
  color: #0065FC;
  font-weight: 700;
}
.header__search {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2.5rem;
}
.header__search__header {
display: flex;
flex-wrap: wrap;
flex: 0 0 100%;
}
.header__search__header__title {
  margin-bottom: 0.5rem;
}
.header__search__header__subtitle {
  margin-top: 0;
  display: flex;
  flex: 0 0 100%;
}
.header__search__form {
  display: flex;
  flex: 0 0 100%;
  overflow: auto;
}
.header__search__form__wrap__icon {
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.header__search__form__wrap__icon__icon {
  margin-left: 0.1rem;
}
.header__search__form__search__input {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.header__search__form__search__input::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  font-weight:800;
  color: #000000;
}
.header__search__form__submit__input {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
  transition-duration: 0.5s;
}
.header__search__form__submit__input:hover {
  background-color: #0049b7;
}
.main {
  max-width: 1940px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.filters {
  padding: 0 2.5rem;
  width: 100%;
}
.header__filters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.header__filters__title {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.header__filters__filter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 800;
}
.header__filters__filter:last-child {
  margin-right: 0;
}
.header__filters__filter:hover {
  background-color: #0065FC;
  color: white;
}
.header__filters__filter__wrap__icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.header__filters__filter__wrap__icon__icon {
  color: blue;
}
.header__filters__filter__title {
  font-size: 0.8rem;
  margin: 0 1rem;
}
.header__result {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.header__result__wrap__icon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.header__result__wrap__icon__icon {
  color: #0065FC;
}
.header__result__text {
  margin: 0;
}
.host__wrapper, .host__popular, .host__main {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
  padding: 2rem;
}
.host {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
}
.host__main {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
.host__main__header {
  grid-column: 1/-1;
}
.host__main__header__title {
  margin: 0;
}
.host__main__card {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.host__main__card:hover {
  transform: scale(1.10);
}
.host__main__card__figure {
  margin: 0;
}
.host__main__card__figure__img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.host__main__card__figurecaption__title {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.host__main__card__description {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.host__main__card__description__price {
  font-weight: bold;
}
.host__main__card__grade {
  margin: 0 0.75rem 0.25rem 0.75rem;
}
.host__main__card__grade__icon[data-active=true] {
  color: #0065FC;
}
.host__main__card__grade__icon[data-active=false] {
  color: #d9d9d9;
}
.host__main__viewmore {
  font-weight: bold;
}
.host__popular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.host__popular__title {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.host__popular__wrap__content {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
}
.host__popular__wrap__content__wrap__img {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.host__popular__wrap__content__wrap__img__img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.host__popular__wrap__content__content {
  display: flex;
  flex-direction: column;
}
.host__popular__wrap__content__content__whitespace {
  flex: 1;
}
.host__popularhost__main__card {
  height: 8.75rem;
}
.activity {
  display: grid;
  column-gap: 2.5rem;
  margin: 4rem 0;
}
.activity__title {
  grid-column: 1/-1;
}
.activity__card {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activity__card:hover {
  transform: scale(1.10);
}
.activity__card__wrap__img {
  position: relative;
  flex: 1;
}
.activity__card__wrap__img__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activity__card__title {
  margin: 1.2rem 1.5rem;
}
.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footer_wrap {
  display: flex;
  max-width: 100%;
  width: 1940px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.footer_block {
  width: 30%;
  padding: 2rem 2rem;
}
.footer_block_link {
  display: block;
  margin: 1rem 0;
}
.footer_block_link:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 650px) { 
.header {
    flex-wrap: wrap;
}
.header__img {
    order:-1;
	width: calc( 50% - 5rem);
}
.header__nav {
    flex: 0 0 100%;
	margin:auto;
}
.header__nav__link {
    width:100%;
	border-bottom: 3px solid #f2f2f2;
}
.header__nav__link:hover {
  color: #0065FC;
  border-top: none;
}
.header__nav__link[data-active=true] {
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}
.header__signup {
    order:-1;
	width: calc( 50% - 5rem);
}
.main {
	padding: 0rem;
}
.header__search {
	padding: 0 2rem;
}
.header__search__form {
    display: flex;
    width: 100%;
}
.header__search__form__search__input {
    flex: 1;
	width: 100%;
}
.header__search__form__submit__input {
  border-radius: 1rem 1rem 1rem 1rem;
}
.header__search__form__submit__input__text {
    display: none;
}
.header__search__form__submit__input__icon {
    display: block;
}
.header__filters__title {
  width: 100%;
}
.header__filters__filter {
  margin-right: 1rem;
}
.filters {
  padding: 0 2rem;
}
.host__main {
  background-color:white;
}
.host__wrapper, .host__popular, .host__main {
  border-radius: 0rem;
}
}
@media screen and (min-width: 650px) {
  .header__search__form__submit__input__text {
    display: block;
  }
  .header__search__form__submit__input__icon {
    display: none !important;
  }
}
@media (max-width: 1940px) {
  .host {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .host__popular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .host__popular__title {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) {
  .host__main {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .host__main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .host__main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1000px) {
  .host__popular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
@media (min-width: 1000px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2.5rem 2.5rem 2.5rem 14rem;
  }
  .activity__card1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activity__card2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activity__card3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activity__card4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activity__card5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activity__card6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1000px) {
  .activity {
    row-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 11.5rem 11.5rem;
  }
}
@media (max-width: 925px) {
  .activity {
    row-gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 11.5rem 11.5rem 11.5rem;
  }
}
@media (max-width: 650px) {
  .activity {
	padding: 0 2rem;
    row-gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 11.5rem 11.5rem 11.5rem 11.5rem 11.5rem 11.5rem;
  }
}
@media (max-width: 650px) {
  .footer_wrap {
    flex-direction: column;
    padding: 2rem;
  }
  .footer_block {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .footer_block:first-child {
    margin-top: 0;
  }
  .footer_block:last-child {
    margin-bottom: 0;
  }
  .footer_block_title {
    margin: 0;
  }
  .footer_block_link:last-child {
    margin-bottom: 0;
  }
}